* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;

}

/* header styles */
/* nav styles */
nav {
    margin-top: 20px;
}

.nav-container {
    width: 100%;
    height: 130px;
}

.nav-container-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 8%;
    padding-right: 8%;
}

.logo-gamer {
    display: flex;
    gap: 20px;
    align-items: center;
}

.logo-title {
    text-align: center;
    font-size: 2.80rem;
    font-weight: 700;
}

.g {
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.list ul {
    display: flex;
    gap: 32px;
}

nav li {
    list-style: none;
}

nav li a {
    text-decoration: none;
    color: #3C354F;
    text-align: center;
    font-size: 1.125rem;
    font-weight: 500;
}

.follow-us {
    width: 262px;
    height: 56px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 18px 24px;
}

nav i {
    padding: 0 10px;
    font-size: 1.5rem;
}

nav .fa-youtube {
    color: red;
}

/* Banner section styles */
.banner {
    width: 100%;
    height: 700px;
}

.banner-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 8%;
    padding-right: 8%;

}


.play-like-the {
    color: #0B0223;
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
}

.goat {
    text-align: center;
    font-size: 6rem;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner-3-paragraph {
    color: #534C64;
    font-size: 1.25rem;
    font-weight: 500;
    text-transform: lowercase;
}

.banner-btn {
    margin-top: 40px;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 48px;
    border: none;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    padding: 21px 40px;
}

.banner-btn1 {
    margin-top: 40px;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 48px;
    border: none;
    background: #4EC5F7;
    padding: 21px 40px;
}


/* main section styles */
/* We are gamer section */
.we-are-gamer {
    margin-top: 80px;
    margin-bottom: 216px;
    width: 100%;
}

.we-are-gamer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 8%;
    padding-right: 8%;
}

.we-are-gamer-content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.we-are-gamer-title {
    text-align: right;
    font-size: 3rem;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.we-are-gamer-description {
    width: 520px;
    color: #534C64;
    text-align: right;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
}

.we-are-gamer-footer {
    width: 520px;
}

.our-purpose {
    color: #534C64;
    text-align: right;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 45px;
    /* 187.5% */
}

.unleash-the {
    color: #534C64;
    text-align: right;
    font-size: 2rem;
    font-weight: 700;
    line-height: 45px;
}

.we-are-gamer-pic {
    width: 45%;
}

.we-are-gamer-pic img {
    width: 100%;
}

/* Online games section styles */

.online-games-title {
    color: #0B0223;
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
}

.funny-videos {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3rem;
    font-weight: 700;
}

.online-games-description {
    color: #534C64;
    text-align: center;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
    margin-bottom: 48px;
}

.online-games-pic-container {
    width: 1098px;
    margin: 0 auto;
    display: flex;
    gap: 24px;
}

.online-games-img {
    width: 25%;
}

.online-games-img img {
    width: 100%;
}

.play-btn-hover {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    bottom: 210px;
    visibility: hidden;
}

.play-btn-hover p {
    font-size: 1.25rem;
    font-weight: 600;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.online-games-img .hover:hover {
    filter: brightness(50%);
    border: 3px #fc79bc solid;
    border-radius: 15px;
}

.online-games-img:hover .play-btn-hover {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    bottom: 210px;
    visibility: visible;
}

/* play instantly section styles */
.play-instantly {
    width: 100%;
    height: 700px;
    margin-top: 120px;
}

.play-instantly-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 8%;
    padding-right: 8%;
}

.play-instantly-content {
    width: 50%;
    padding-bottom: 170px;
}

.play-instantly-pic {
    width: 50%;
}

.play-instantly-pic img {
    width: 100%;
}

.play-instantly-title {
    width: 350px;
    text-align: right;
    font-size: 3rem;
    font-weight: 700;
    line-height: 60px;
    /* 125% */
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.no-downloads {
    color: #0B0223;
    font-size: 3rem;
    font-weight: 700;
    line-height: 60px;
}

.play-instantly-description {
    width: 353px;
    color: #534C64;
    text-align: right;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
}

.play-instantly .overflow-pic {
    position: relative;
    bottom: 250px;
    right: 100px;

}

/* Icon and button section styles */
.icon-and-button {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.img-and-btn {
    /* width: 243px; */
    height: 80px;
    display: flex;
    align-items: center;
}

.img-and-btn:hover {
    border: 2px solid rgb(241, 29, 75);
    border-radius: 50px;
}

.img-and-btn a:hover {
    color: rgb(241, 29, 75);
}

.icon-and-button a {
    padding-left: 16px;
    text-decoration: none;
    color: #0B0223;
    font-size: 1.25rem;
    font-weight: 600;
}

.icon-and-button-container-one {
    margin-top: 120px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding-left: 8%;
}

.icon-and-button-container-two {
    margin-bottom: 145px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-left: 12%;
    /* padding-right: 10%; */
}

/* footer section styles */
.footer {
    width: 100%;
    height: 636px;
    background-color: #0B0223;
}

footer h3 {
    color: #FFF;
}

.footer-content-text {
    color: #FFF;
    text-align: center;
    font-size: 1.125rem;
    font-weight: 600;
}

.footer-content ul {
    display: inline-flex;
    padding: 10px;
    align-items: flex-start;
    gap: 60px;
}

.footer-content li {
    list-style: none;
}

.footer i {
    font-size: 3rem;
    color: #FFF;
}

.footer-content-text-two {
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-weight: 500;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 120px;
}

.footer-content {
    margin-top: 75px;
}

.footer-icon {
    margin-top: 65px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 40px;
}

.footer p {
    margin-top: 28px;
}


/* Responsive styles */
/* mobile */
@media screen and (max-width: 576px) {

    .nav-container-div,
    .list ul,
    .banner-div,
    .we-are-gamer-container,
    .we-are-gamer-content,
    .online-games-pic-container,
    .play-instantly-container {
        flex-direction: column;
    }

    nav {
        margin-top: 100px;
        margin-left: 350px;
        margin-bottom: 128px;
    }

    .banner-div {
        flex-direction: column-reverse;
    }

    .icon-and-button-container-one,
    .icon-and-button-container-two,
    .footer-icon {
        grid-template-columns: repeat(3, 1fr);
    }

    .banner-pic {
        margin-left: 300px;
        margin-bottom: 128px;
    }

    .content {
        margin-left: 300px;
        margin-bottom: 128px;
    }

    .we-are-gamer-pic {
        width: 100%;
        margin-top: 700px;
        margin-left: 300px;
    }

    .we-are-gamer-content {
        margin-left: 300px;
        margin-bottom: 80px;
    }

    .online-games-title {
        width: 576px;
        margin-left: 250px;
        font-size: 2rem;
    }

    .online-games-description {
        margin-left: 250px;
        width: 576px;
    }


}